.aboutUsV {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 36.2px);
  line-height: 22px;
  font-weight: 500;
}
.property1default {
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  width: 130.4px;
  height: 52px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
  font-family: var(--font-poppins);
}
