@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-manrope: Manrope;
  --font-lexend: Lexend;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-28xl: 47px;
  --font-size-5xl: 24px;
  --font-size-32xl: 51px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-mini: 15px;
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;
  --font-size-77xl: 96px;
  --font-size-11xl: 30px;

  /* Colors */
  --primary: #6d31ed;
  --color-white: #fff;
  --color-mediumslateblue-100: #8e61f1;
  --color-mediumslateblue-200: #7b61ff;
  --color-ghostwhite: #f5f1fe;
  --color-darkslategray: #424856;
  --color-lightslategray: #9095a1;
  --color-gray-100: #171a1f;
  --color-gray-200: rgba(0, 0, 0, 0);
  --color-black: #000;
  --color-whitesmoke: #f3f4f6;
  --color-mediumblue: #602bf8;
  --color-thistle: #c8bfdf;
  --color-dimgray: #565d6d;

  /* Gaps */
  --gap-27xl: 46px;

  /* Paddings */
  --padding-24xl: 43px;
  --padding-22xl: 41px;
  --padding-mini: 15px;
  --padding-23xl: 42px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-7xs: 6px;
  --br-9xs: 4px;
  --br-mini: 15px;
}
